package notfound

templ view() {
	<header class="main-heading">
		<h1>404 Not Found</h1>
	</header>
	<div class="content">
		The page you are looking for seems to uhhh not be there
		<br/>
		Try going back or try another URL?
	</div>
}
