package routes

templ Page(component templ.Component, info LayoutInfo) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/static/reset.css"/>
			<link rel="stylesheet" href="/static/style.css"/>
			<link rel="stylesheet" href="https://unpkg.com/lucide-static@latest/font/lucide.css"/>
			<script src="/static/script.js" defer></script>
			<script>
                let currentTheme = localStorage.getItem("theme") || "system"
                if (currentTheme !== "system") {
                    document.documentElement.style.setProperty("color-scheme", currentTheme);
                    document.documentElement.style.setProperty("--theme", currentTheme)
                }
            </script>
			<title>
				if info.Title != "" {
					{ info.Title } -
				}
				Mic's Web
			</title>
		</head>
		<body>
			<header id="navigation-header">
				// TODO: this will be a site logo? pulled from `static/logo.png` so it can be dynamic?
				<img alt="" src=""/>
				<nav id="main-navigation">
					<ul>
						for _, link := range info.Links {
							<li>
								<a
									href={ link.Path }
									if info.BasePath == link.Path {
										aria-current="page"
									}
								>
									{ link.Name }
								</a>
							</li>
						}
					</ul>
				</nav>
				<div class="theme-chooser">
					<div class="theme-picker-inputs" hidden="hidden">
						<input type="radio" name="theme" id="theme-picker-system" value="system"/>
						<input type="radio" name="theme" id="theme-picker-light" value="light"/>
						<input type="radio" name="theme" id="theme-picker-dark" value="dark"/>
					</div>
					<button class="btn secondary" onclick="switchTheme()" id="theme-picker-button">
						<i class="icon-sun-moon" aria-label="Follow system theme"></i>
						<i class="icon-moon" aria-label="Dark theme"></i>
						<i class="icon-sun" aria-label="Light theme"></i>
					</button>
				</div>
			</header>
			<main>
				@component
			</main>
		</body>
	</html>
}
