package routes

templ Page(component templ.Component, info LayoutInfo) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="stylesheet" href="/static/reset.css"/>
			<link rel="stylesheet" href="/static/style.css"/>
			<link rel="stylesheet" href="https://unpkg.com/lucide-static@latest/font/lucide.css"/>
			<title>
				if info.Title != "" {
					{ info.Title } -
				}
				Mic's Web
			</title>
		</head>
		<body>
			<header id="navigation-header">
				<nav id="main-navigation">
					<ul>
						for _, link := range info.Links {
							<li>
								<a
									href={ link.Path }
									if info.BasePath == link.Path {
										aria-current="page"
									}
								>
									{ link.Name }
								</a>
							</li>
						}
					</ul>
				</nav>
				<div class="theme-chooser">
					<button><i class="icon-sun-moon"></i></button>
					<button><i class="icon-sun"></i></button>
					<button><i class="icon-moon"></i></button>
				</div>
			</header>
			<main>
				@component
			</main>
		</body>
	</html>
}
