<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{{ template "title" . }}</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
              <a href="/"{{if eq .Path "/"}} aria-current="page"{{end}}>
                  Home
              </a>
          </li>
          <li>
              <a href="/about"{{if eq .Path "/about"}} aria-current="page"{{end}}>
                  About
              </a>
          </li>
          <li>
              <a href="/blog"{{if eq .Path "/blog"}} aria-current="page"{{end}}>
                  Blog
              </a>
          </li>
        </ul>
      </nav>
    </header>
    <main>{{ template "body" . }}</main>
  </body>
</html>
